* {
    margin: 0;
    padding: 0;
     font-family: 'Poppins', sans-serif; 
}

nav {
	/* width: 100%; */
	padding: 20px 60px;
	box-shadow: var(--box-shadow);
}
.user-navigation {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.logo-user {
	/* width: calc( 100% - 550px ); */
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	align-items: center;
	width: 45%;
}
.l-r-prof {
	width: 120px;
	margin-right: 10px;
}
.l-r-prof > img {
	width: 100%;
}

.search-field-prof {
	position: relative;
	background: #f3f3f3;
	padding: 10px 15px;
	border-radius: 5px;
	/* width: calc( 80% - 100px ); */
	display: flex;
	align-items: center;
	width: 100%;
}

.s-wrapper {
	width: calc( 100% + 30px );
	background-color: #f3f3f3;
	position: absolute;
	left: 0;
	right: 0;
	display: none;
}
.result-dash-s {
	margin: 5px;
	padding: 5px;
	border-radius: 4px;
	margin-bottom: 5px;
	border-bottom: 1px solid #666;
	cursor: pointer;
}
.result-dash-s:hover {
	box-shadow: var(--box-shadow);
}
.result-dash-s > a {
	background: #0054ff;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 10px;
    padding: 3px 15px;
    border-radius: 35px;
    position: relative;
    top: -5px;
}
.j-search-res {
	display: flex;
	justify-content: space-between;
}

.j-search-data h3 {
	white-space: nowrap;
	font-size: 15px;
	width:300px;
	overflow: hidden;
	text-overflow:ellipsis;
}

.j-search-data > p {
	white-space: nowrap;
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}
.j-search-tag li {
	list-style-type: none;
    display: inline-block;
    margin-right: 4px;
}
.j-search-tag li a {
    text-decoration: none;
    color: #333;
    font-size: 11px;
    /* background: #777; */
    padding: 2px 10px;
    border-radius: 35px;
    transition: all .3s;
    border: 1px solid #777;
}
.j-search-stat {
	text-align: end;
}
.j-search-stat p {
	font-size: 14px;
	line-height: 20px;
}
.j-search-stat span {
	font-size: 11px;
	padding: 2px 5px;
	border-radius: 3px;
	color: #333;
	border: 1px solid var(--green);
}
.n-res {
    text-align: center;
    border: none !important;
    padding: 10px;
    margin: 0 !important;
    border-radius: 4px;
    color: #666;
    font-weight: 500;
    width: 100%;
    padding: 10px;
}
.search-field-prof i {
	font-size: 18px;
	color: #999;
	padding: 5px;
}
.search-field-prof input {
	font: var(--font-quick-500-18);
	border: none;
	background: none;
	margin-left: 5px;
	outline: none;
	width: 100%;
}

.search-field-prof span {
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

/*
Profile page top navigation right starts here
*/
.user-right-nav {
	width: 55%;
	display: flex;
	justify-content: flex-end;
}
#nav-links ul {
	list-style-type: none;
	display: flex;
}
#nav-links ul li {
	font: var(--font-quick-500-18);
	padding-right: 20px;
	line-height: 46px;
	align-items: center;
	/* font-weight: 600; */
	color: #8e8e8e;
	cursor: pointer;
}
#account-profile {
	display: flex;
	flex-direction: row;
	background: #f3f3f3;
	padding-left: 10px;
	border-radius: 35px;
	margin-right: 5px;
}
#account-thumbnail {
	width: 30px;
	height: 30px;
	padding-right: 5px;
}
#account-thumbnail img {
	width: 100%;
}

#action-btn {
	margin-left: 5px;
}

#action-btn button {
	background: none;
	border: none;
	outline: none;
}
#action-btn button > i {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    line-height: 44px;
    vertical-align: middle;
    font-size: 18px;
    overflow: hidden;
    color: #8e8e8e;
    cursor: pointer;
}
#action-btn button i:hover {
	background: #d7d7d7;
}
/*
dashboard secondary menu
*/
#menus-prof-dashboard {
	padding: 0px 60px;
	background: var(--hover-dark-font);
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 88px;
	z-index: 3;
}
#menus-prof-dashboard ul {
	display: flex;
	flex-direction: row;
	text-align: left;
	list-style-type: none;
	font: var(--font-quick-500-14);
	color: #ffff;
}
#menus-prof-dashboard ul li {
	margin-right: 20px;
	padding: 20px 0px;
	cursor: pointer;
}
#menus-prof-dashboard ul li a {
	text-decoration: none;
	color: #fff;
}
#menus-prof-dashboard ul li:hover {
	border-bottom: 2px solid;
}
.active-second-menu {
	border-bottom: 2px solid;
}
.hover-second-menu {
	border-bottom: 2px solid;
}
/*
container-project
*/
.my-project-container {
	padding: 20px 60px;
	/* height: 100vh; */
	background: #f7f7f7;
	display: flex;
	flex-direction: column;
}
.section-tittle span {
	font: var(--font-quick-500-20);
	font-weight: 900;
	font-size: 25px;
	line-height: 60px;
}
#project-action-btns {
	margin-top: 30px;
}
#project-action-btns ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	font: var(--font-quick-500-14);
	padding-left: 10px;
	border-bottom: var(--border);
}
#project-action-btns ul li {
	margin-right: 20px;
	cursor: pointer;
	padding-bottom: 15px;
}
/*
	Project tables
*/
#projects-tables {
	position: relative;
}
.content-tbl {
	/* position: absolute; */
	/* background: red; */
	/* height: 50vh; */
	width: 100%;
	display: none;
}
.openJobs {
	display: block;
}
.blue {
	/* background: blue; */
}
.gray {
	/* background-color: gray; */
}


/*
Table Design
*/
.main-tbl-container {
	width: 100%;
}
.tbl-wrap {
	/* width: 90%; */
	/* background-color: #fff; */
	/* margin: 30px auto; */
	/* border-radius: 5px; */
	display: flex;
	flex-direction: column;
	transition: all .5s ease-in-out;
}
/*.tbl-wrap:hover {
	box-shadow: var(--box-shadow);
}*/
.filter-category {
	/* width: 100%; */
	padding: 20px 5px;
}
.filter-category ul {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.filter-category ul li {
	list-style-type: none;
	padding: 0 15px;
	font: var(--font-quick-500-14);
	position: relative;
}
#job-filters {
	position: relative;
	width: 100%;
}
.active-filter {
	font-weight: bold !important;
}
#job-filters li + li::before {
	left: -1px;
	top: 3px;
	width: 1px;
	height: 10px;
	content: '';
	position: absolute;
	background: #363b4d;
}
.sortby {
	display: flex;
	justify-content: space-between;
	padding: 20px 15px;
}
#sort-drop span {
	font: var(--font-quick-500-16);
}
#sort-drop select optgroup option {
	margin-left: 10px;
	left: 0px;
}
#search-sort {
	position: relative;
}

#search-sort input, #sort-drop select {
	width: 300px;
	    color: #666;
    outline: none;
    height: 40px;
    background: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#search-sort i {
	position: absolute;
	font-size: 19px;
	right: 0;
	top: 0;
	margin: 12px;
	color: #999;
}
.job-list-tables {
	width: 100%;
}
table {
	border-collapse: collapse;
	/* margin: auto 15px; */
	margin-bottom: 20px;
	width: 100%;
	background: #fff;
}
thead tr th {
	font: var(--font-quick-500-14);
	color: #363b4d;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	padding: 15px 10px;
	background: #f7f7f7;
	vertical-align: middle;
	/* font-weight: 600 !important; */
}
tbody tr {
	font: var(--font-quick-500-14);
	transition: all .5s ease-in-out;
}
tbody tr:hover {
	box-shadow: var(--box-shadow);
}
tbody tr td {
	text-align: left;
	padding: 20px 6px;
	vertical-align: top;
}
tbody h3 {
	font-family: 'Quicksand', Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #666;
	margin-bottom: 10px;
	font-weight: 500;
}
table tr, table td, table th {
	border: var(--border);
	text-align: center;
}
.action-btn {
	display: flex;
    flex-direction: row;
	border: none !important;
}
.tittle-id {
	max-width: 260px;
}
.item-cat {
}
.price-loc {max-width: 250px;}
.date-pub {
	width: 100px;
}
.action-btn span {
margin: 5px;
width: 40px;
height: 40px;
float: left;
color: #363b4d;
line-height: 40px;
border-radius: 5px;
background: #f7f7f7;
text-align: center;
transition: all .5s ease-in-out;
}
.action-btn span i {
	transition: all .5s ease-in-out;
}
.status-job span {
	padding: 10px 20px;
	border-radius: 3px;
	background: var(--green);
	color: #fff;
	text-transform: uppercase;
}
tbody tr:hover .action-btn .eye {
	background: var(--green);
}
tbody tr:hover .action-btn .eye i,tbody tr:hover .action-btn .pencil i, tbody tr:hover .action-btn .trash i {
	color: #fff;
}
tbody tr:hover .action-btn .pencil {
	background: #363b4d;
}
tbody tr:hover .action-btn .trash {
	background: #f91942;
}

/*
Sold Row
*/
.sold {
	background: url('../../../admin/assets/img/icons/pattern-01.png');
}
.sold .status-job span {
	background: #363b4d;
}
/*
*
* End of table Stylesheet
*
*/

/*
* FEEDBACK LIST STYLING
*/
.employer-image {
	margin-right: 10px;
}
.employer-image img {
	border-radius: 4px;
}
.feedbacks-list {
	padding: 20px 60px;
}
.feed-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.feed-item {
	width: 60%;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}
.feed-wrapper {
    border-bottom: 1px solid #e0e0e0;
    padding: 30px;
	display: flex;
	flex-direction: row;
}
.rate-date {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    align-items: center;
}
#emp-rate {
    display: flex;
    flex-direction: row;
}
#emp-rate > span {
    padding: 1px 4px;
    background-color: #DEDEDE;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    margin-right: 5px;
    margin-top: 5px;
}
.rating-star i {
    font-size: 12px;
    color: #999;
}
#s5 > span {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    color: #555;
}
.list-of-feedback h2 {
    padding: 3px 0px;
    cursor: pointer;
    color: green;
    font: var(--font-quick-400-30);
}
.list-of-feedback h2:hover {
	text-decoration: underline;
}
.feedback-description p {
    font-style: italic;
    color: #666;
    font-size: 15px;
}

/*

Messaging 

*/
.container-msgs {
	/* padding: 20px 60px; */
}
#msg-container {
	width: 100%;
	height: 100vh;
	/* background: #999; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.list-of-connections {
	width: 22%;
	/* height: 100%; */
	background: #fff;
	position: fixed;
	left: 0;
	top: 174px;
	margin-bottom: 10px;
	bottom: 40px;
}
#connection-search {
	border: var(--border);
	margin: 10px;
	display: flex;
	flex-direction: row;
	border-radius: 4px;
	/* position: sticky; */
	top: 174px;
	/* bottom: 0; */
}
#connection-search input{
	width: 100%;
	border:none;
	outline: none;
	padding: 5px;
	padding-left: 10px;
}
#connection-search i {
	padding: 7px;
}
#users {
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: 100%;
	/* bottom: 0; */
	/* top: 0; */
}
.user-items {
	display: flex;
	flex-direction: row;
	/* margin: 5px 7px; */
	padding: 5px 7px;
	cursor: pointer;
	transition: all .5s ease-in-out;
}
.user-items:hover {
	box-shadow: var(--box-shadow);
	background: #f3f3f3;
}
.convo-prof {
	width: 50px;
	margin-right: 9px;
}
.convo-prof img {
	width: 100%;
}
.convo- {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.list-data {
	display: flex;
	justify-content: space-between;
}
.list-data h3 {
font: var(--font-quick-500-14);
font-weight: 600;
}
.convo-inf p {
	white-space: nowrap;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.convo-inf p {
font: var(--font-quick-400-13);
}

.list-data span {
font: var(--font-quick-400-13);
min-width: 60px;
}
.conversation {
	width: 58%;
	height: calc( 100% - 80px );
	background: #f4f4f4;
	position: fixed;
	left: 22%;
}
.conversation-details {
	width: 20%;
	height: 100vh;
	background: #fff;
	display: flex;
	flex-direction: column;
	right: 0;
	position: fixed;
}
.conversation-about {
	padding-bottom: 20px;
	border-bottom: var(--border);
}
.conversation-about h3 {
    font: var(--font-quick-500-18);
    font-weight: 600;
    padding: 10px;
    font-size: 14px;
}
.conversation-about > p {
	font: var(--font-quick-400-13);
	color: #666;
	max-width: 250px;
	overflow: hidden;
	padding: 4px 10px 0px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.project-for {
	margin-top: 10px;
}
.project-for i {
    color: green;
    font-weight: 600;
}
.project-for span {
	color: #333;
}
.pep-wrap {
	display: flex;
	flex-direction: row;
	padding: 10px;
}
.pep-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.pep-links a {
	text-decoration: none;
	font: var(--font-quick-500-14);
}
.pep-links span {
	font: var(--font-quick-400-13);
	font-size: 10px;
	font-weight: 500;
}
.pep-img {
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin-right: 5px;
	border-radius: 3px;
	position: relative;
}
.pep-img > img {
	width: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
}
.status-avail {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	bottom: -1px;
	background: green;
	right: 0px;
}
/*
Messaging
*/
/*
* Message/chatbox Styling
*/
.c- {
	display: flex;
	flex-direction: column;
}
.user_type-post {
    padding: 0 30px;
    font-size: 14px;
    line-height: 60px;
    background-color: #FF9000;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    line-height: 30px;
    text-transform: capitalize;
    cursor: pointer;
}
.msgs-3-col-item {
	/* width: 90%; */
	height: calc( 100% - 80px );
	/* overflow: auto; */
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	/* margin-bottom: 80px; */
}
.message-container {
	margin: 5px;
	/* max-height: calc( 100% - 80px ); */
	/* background: red; */
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: calc( 100% - 110px );
	bottom: 10px;
	position: relative;
}
.message-reciever, .current-user-sender {
	/*width: calc( 100% - 8px );*/
	/* min-height: 100px; */
	margin: 4px;
	display: flex;
	padding-right: 60px;
	position: relative;
	flex-direction: row;
	color: #666;
	margin-bottom: 15px;
}
.message-reciever > img, .current-user-sender img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-self: baseline;
    bottom: -10px;
    position: absolute;
}
.msg-content {
    margin-left: 35px;
    float: right;
}
.msg-content > p {
    background: #fff;
    padding: 12px 15px;
    border-radius: 11px 11px 11px 4px;
    font: var(--font-quick-400-13);
    /* line-height: 20px; */
    background: var(--dark-font);
    color: #fff;
}
.msg-content span {
    font: var(--font-quick-400-13);
}
.current-user-sender {
    padding-left: 20px;
    float: right;
    padding-right: 25px;
    display: flex !important;
    justify-content: flex-end;
}
.message-reciever, .current-user-sender {
    /* width: calc( 100% - 8px ); */
    /* min-height: 100px; */
    margin: 4px;
    display: flex;
    /* padding-right: 60px; */
    position: relative;
    flex-direction: row;
    color: #666;
    margin-bottom: 15px;
}
.current-user-sender .msg-content {
    text-align: right;
}
.current-user-sender .msg-content p {
    border-radius: 11px 11px 4px 11px;
    text-align: right;
    background: var(--back-light-green);
}
.msg-content span {
    font: var(--font-quick-400-13);
}
.current-user-sender img {
    right: 0;
}
.message-reciever > img, .current-user-sender img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-self: baseline;
    bottom: -10px;
    position: absolute;
}
.icon-receiver > img {
	width: 20px;
	height: 20px;
}
.msgs-3-col-item > .input-msgs-content {
    /* height: 100px; */
    position: relative;
    z-index: 3333;
    padding: 10px;
    /* margin-bottom: -30px; */
    position: fixed;
    /* width: 100%; */
    bottom: 0;
    right: 20%;
    left: 22%;
    background: #fff;
}
.container-of-msgs {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: var(--border);
    border-radius: 4px;
}
.ctl-msg {
    height: 65px;
    position: relative;
    outline: none;
    padding: 5px;
    overflow: auto;
    font: var(--font-quick-400-13);
}
.cta-buttons {
    float: left;
    padding: 8px;
    text-align: right;
    border-top: 1px solid #eaedef;
}
.ctl-msg label {
    position: absolute;
    top: 0;
    margin: 5px 0px;
    font: var(--font-quick-400-13);
    color: #999;
}
.cta-buttons i {
    margin-right: 6px;
    cursor: pointer;
    transition: all .5s;
}

.cta-buttons span {
    font: var(--font-quick-500-14);
    background: #FF9000;
    color: #fff;
    padding: 4px 15px;
    border-radius: 3px;
    cursor: pointer;
}

/*
* @desc Style for posting a job
*/

.jobPost {
	width: 65%;
	height: auto;
	margin: 20px auto;
	box-shadow: var(--box-shadow);
	padding: 20px;
	border-radius: 5px;
}
.jobPost form {
	width: 100%;
	margin: 0 auto;
	position: relative;
	/* box-shadow: var(--box-shadow); */
	height: 100vh;
}
.jobPost form fieldset {
    border-radius: 4px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin-top: 20px;
}
.form-header > p {
	font: var(--font-quick-400-30);
	font-weight: 700;
	opacity: 0.4;
	line-height: 30px;
	vertical-align: middle;
}
.f-job {
	padding: 4px;
	background: #fff;
	box-shadow: var(--box-shadow);
	width: 85px;
	border-radius: 35px;
	margin-top: 10px;
	display: flex;
}
.f-job span.f-active {
	/* padding: 3px 5px; */
	border-radius: 35px;
	background: green;
	color: #fff;
}
.f-job span {
	background-color: #fff;
	font: var(--font-quick-500-14);
	padding: 2px 10px;
	color: #333;
	cursor: pointer;
}
.f-word {
	font: var(--font-quick-500-14);
}
.jobPost-progress {
	/*counter-reset: step;*/
	text-align: center;
	justify-content: center;
	padding-bottom: 10px;
}
.jobPost-progress li {
	display: inline-block;
	justify-content: center;
	text-align: center;
	margin: 15px auto;
	position: relative;
	font:  var(--font-quick-500-18);
	color: #999;
}
.jobPost-progress div {
	width: 33.333%;
	padding: 5px;
}
.jobPost-progress div.active {
	border-bottom: 3px solid green;
}
.jobPost-progress div.active li {
	color: #000;
	font-weight: 500;
}
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.invalid-box-shadow {
	box-shadow: 0 0 2px 1px red;
}
.jobPost ul {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.job-d fieldset {
	height: 50vh;
	background: #fff;
	margin-bottom: 30px;
}
.job-d fieldset:not(:first-of-type) {
	display: none;
}
/* Copied from signUp */
.header-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 30px 20px;
	align-items: center;
	/* margin-left: 5px; */
}
.f-form {
    width: calc( 100% - 20px );
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
}
.f-form label {
    text-transform: capitalize;
    font-weight: 600;
    margin: 6px 0px;
    color: #444;
}
.ins-wrapper {
    position: relative;
    width: calc( 100% - 10px );
}
#fname .f-form:last-child {
    margin-right: 0px;
}
.f-form input, .f-form select {
    background: none;
    border: 1px solid #999;
    border-top-color: rgb(153, 153, 153);
    border-right-color: rgb(153, 153, 153);
    border-bottom-color: rgb(153, 153, 153);
    border-left-color: rgb(153, 153, 153);
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    outline: none;
    color: #666;
    /* border-color: #333; */
}
.ins-wrapper input, .ins-wrapper select {
    width: calc( 100% - 20px );
}
.ins-wrapper i {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px;
    color: #999;
}
.token {
	display: inline-block;
	background: #d3d3d3;
	margin-right: 5px;
	border-radius: 3px;
	margin-left: 5px;
}
.token > span {
	font-size: 13px;
	padding: 4px 5px;
	/*font-weight: 600;*/
}
.token > a {
	text-decoration: none;
	padding: 0 5px 0 0;
	color: #333;
	font-weight: 500;
}
.tokenfield input:last-child {
	border: none !important;
}

